:root {
  --bacground-header: #ffffff;
  ---text-color: #212121;
  --color-logo: #2196f3;
  --color-logo-header: #000000;
  --color-contacts: #757575;
  --background-color-main: #2f303a;
  ---color-title: #ffffff;
  --color-bgd-btn: #2196f3;
  --color-btn-text: #ffffff;
  ---color-text-main: #757575;
  ---color-skills-bgd: #ffffff;
  ---color-team-section-bgd: rgba(245, 244, 250, 1);
  ---color-logo-footer: #ffffff;
  ---color-portfolio-bgd: #f5f5f5;
  ---color-portfolio-btn: #f5f4fa;
  ---color--portfolio-text-btn: #212121;
  ---color-cart-portfolio: #ffffff;
  ---color-current: #2196f3;
  ---color-text-overlay: rgba(255, 255, 255, 1);
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /*вирівнює по центру*/
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header */
.header {
  background: var(--bacground-header);
  border: 1px solid #ececec;
}
.header-nav {
  display: flex;
  position: relative;
  align-items: center;
}

.nav-header__list .nav-header__item:not(:last-child) {
  margin-right: 50px;
  display: block;
}
.nav-header__list {
  display: flex;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.nav-header {
  margin-left: 93px;
}

.logo__link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__header {
  color: var(--color-logo-header);
}
.contacts-header {
  margin-left: auto;
  gap: 30px;
}
.contacts-header {
  display: flex;
}
.nav-header__link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(---text-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms;
}
.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(---color-current);
  left: 0;
  bottom: -3px;
  border-radius: 4px;
}
.current,
.nav-header__link:hover,
.nav-header__link:focus {
  color: var(--color-logo);
}
.contacts-header__email,
.contacts-header__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-contacts);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-header__email:hover,
.contacts-header__tel:hover,
.contacts-header__email:focus,
.contacts-header__tel:focus {
  color: var(--color-logo);
}
/* ------------- */

.contacts-header__icons {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-header__item {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* main-page*/
.main-page {
  max-width: 1600px;
  background: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Imgbacground.jpg");
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 200px 0 200px 0;
}

.skills-icons-div {
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;

  width: 270px;
  height: 120px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(---color-title);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.button-main {
  background: var(--color-bgd-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-btn-text);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding: 10px 32px;
}

.main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(---text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(---color-text-main);
  max-width: 270px;
}

.skills {
  background: var(---color-skills-bgd);
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-skills {
  display: flex;
  gap: 30px;
}
.skills-icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-item {
  width: calc((100% - 30px * 3) / 4);
  flex-wrap: wrap;
}
.flex-element:nth-child(4n) {
  margin-right: 0;
}

/* services*/
.services {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---text-color);
  margin-bottom: 50px;
}
.srv {
  padding-bottom: 94px;
}
.container-services-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.list-services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.container-services-item {
  display: flex;
}
.services-text {
  position: absolute;
  bottom: 0;
  display: flex;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  min-height: 70px;
  align-items: center;
  justify-content: center;
}
/* team-section*/
.team-section {
  background: var(---color-team-section-bgd);
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-team {
  display: flex;
  gap: 30px;
  text-align: center;
}

.container-team {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---text-color);
  margin-bottom: 50px;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---text-color);
  background: #ffffff;
  margin-bottom: 10px;
}
.team-list {
  color: #757575;
  margin-bottom: 16px;
}

.team-cart {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item .list-team .team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---color-text-main);
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90px) / 4);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
ul {
  margin: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffff;
  display: flex;
  fill: #afb1b8;
  align-items: center;
  justify-content: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
/*----------------Clients------------------ */
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients-section {
  background: var(---color-skills-bgd);
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: transparent;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item {
  width: 170px;
  height: 92px;
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  fill: #2196f3;
}
.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 155ms;
}
.skills-icons {
  display: flex;
}

/* footer*/
footer {
  background: var(--background-color-main);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__accent {
  color: var(---color-logo-footer);
}
.logo__link-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
  margin-bottom: 20px;
}

.contacts-footer__email,
.contacts-footer__adress {
  margin-bottom: 9px;
}
.contacts-footer__link,
.contacts-footer__mail,
.contacts-footer__mobile {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--якщо прибрати стайл нормал текст стає курсивом*/
.address {
  font-style: normal;
}
.contacts-footer__mail:hover,
.contacts-footer__mobile:hover,
.contacts-footer__mailfocus,
.contacts-footer__mobile:focus,
.contacts-footer__link:hover,
.contacts-footer__link:focus {
  color: var(--color-logo);
}

.contacts-footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(---color-logo-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  padding: 0 15px;
  display: flex;
  align-items: baseline;
}

.footer-networks_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-networks {
  justify-content: baseline;
  margin-left: 55px;
}
.networks-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffff;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffff;
  display: flex;
  fill: #afb1b8;
  align-items: center;
  justify-content: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.networks-list__link:hover,
.networks-list__link:focus {
  background-color: #2196f3;
}
/* --------форма-підписки------ */

.subscription {
  width: 574px;
  margin-left: 93px;
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.subscription__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  width: 358px;
  height: 50px;
  background: #2f303a;
}
.subscription__btn {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 8px 10px 28px;
  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(---color-portfolio-btn);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscription__icon {
  display: inline-flex;
  margin-left: 10px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  width: 528px;
  /* height: 581px; */
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  visibility: visible;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: scaleX(0.9) translate(-50%, -50%);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
/* .close-icon, */
.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close:hover .close-icon,
.close:focus .close-icon {
  fill: #2196f3;
}
.close:hover,
.close:focus {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #ffffff;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}
.form-input:focus + .input-icon,
.form-input:hover + .input-icon {
  fill: var(--color-logo);
}
.submit-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #188ce8;
}
.input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;

  display: block;
  margin-bottom: 4px;
}
.modal-field {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  border-radius: 4px;

  margin-bottom: 20px;
  resize: none;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:hover,
.modal-field:focus {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}
.input-wrap {
  position: relative;
}
/* .input-field {
  margin-bottom: 20px;
} */
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.check-text span {
  width: 16px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iput-check:checked + .check-text .check-icon {
  fill: #ececec;
}
.iput-check:checked + .check-text span {
  background-color: #2196f3;
  border-color: #2196f3;
}
.iput-check:focus + .check-text span {
  border-color: #2196f3;
}
.terms-link {
  text-decoration: 1px underline var(---color-current);
  color: var(---color-current);
  margin-left: 4px;
}
/* .iput-check:checked + .check-text span { */
/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  transition: background-image250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iput-check:checked + .check-text::before {
  background-color: #2196f3;
  background-image: url(../images/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} */

/*portfolio*/
.main-portfolio {
  display: flex;
  background: var(---color-cart-portfolio);
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-gallery__link:hover,
.portfolio-gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-gallery__link:hover .actions__pop-up,
.portfolio-gallery__link:focus .actions__pop-up {
  opacity: 1;
  transform: translateY(0);
}
.actions {
  position: relative;
  overflow: hidden;
}
.actions__pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(---color-text-overlay);
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  transform: translateY(100%);
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-gallery__item {
  flex-basis: calc((100% - 60px) / 3);
}
.description-cards {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.filter__button {
  display: inline-flex;
  background: var(---color-portfolio-btn);
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---color--portfolio-text-btn);
  border: 1px solid transparent;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover,
.filter__button:focus {
  background-color: var(--color-bgd-btn);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(---color-title);
}
.btn-current {
  background: var(---color-current);
  color: var(---color-portfolio-btn);
}

.description-cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(---text-color);
  margin-bottom: 4px;
}
.descripchion-cards_content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(---color-text-main);
}
.actions__picture {
  background: var(---color-cart-portfolio);
  border: 1px solid #eeeeee;
  overflow: hidden;
  margin-right: 0;
}
.portfolio-gallery__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
